<p id="notice"><%= notice %></p>

<h1>Salons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tel</th>
      <th>Address</th>
<!--      <th>Image</th>-->
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salons.each do |salon| %>
      <tr>
        <td><%= salon.name %></td>
        <td><%= salon.tel %></td>
        <td><%= salon.address %></td>
<!--        <td><%#= salon.image %></td>-->
        <td><%= User.find(salon.user_id).name %></td>
        <td><%= link_to 'Show', salon %></td>
        <td><%= link_to 'Edit', edit_salon_path(salon) %></td>
        <td><%= link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salon', new_salon_path %>
