<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salon.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @salon.tel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @salon.address %>
</p>

<p>
  <strong>Image:</strong>
  <%#= @salon.image %>

<% @salon.images.each do |i| %>
    <%= image_tag i.url %>
<% end  %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@salon.user_id).name %>
</p>

<%= link_to 'Edit', edit_salon_path(@salon) %> |
<%= link_to 'Back', salons_path %>
